name: Release

on:
  push:
    branches:
      - main
      - github-workflow
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Make release
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          mkdir io_scene_glacier
          rsync -av --progress . ./io_scene_glacier --exclude '.*'
          zip -r io_scene_glacier-${{github.ref_name}}.zip io_scene_glacier
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            io_scene_glacier-${{github.ref_name}}.zip